Tarefa 01/definicoes.dtd

<!ELEMENT cardapio (prato+)>

<!ELEMENT prato (nome, descricao, ingredientes, preco, calorias, tempopreparo)>
<!ELEMENT nome (#PCDATA)>

<!ATTLIST prato ID ID #REQUIRED>
<!ELEMENT descricao (#PCDATA)>

<!ELEMENT ingredientes (ingrediente+)>
<!ELEMENT ingrediente (#PCDATA)>

<!ATTLIST preco moeda (BRL | USD ) "BRL">
<!ELEMENT preco (#PCDATA)>

<!ELEMENT calorias (#PCDATA)>
<!ELEMENT tempopreparo (#PCDATA)>
